body {
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 7vh;
    
}

.top {
    text-align: center;
}
.container {
    margin: auto;
}

#col1, #col2 {
    max-width: 600px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#output-block {
    padding-top: 2vh;
    display: none;
}

#announce {
    text-align: center;
    font-size: 22px;
}

#output {
    text-align: center;
    font-size: 40px;
}